<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <div
      style='display:flex; coloe:red; display:justify-center; flex:items-center;'
    >
      <h1>Hello World and Hector, Nina!</h1>
    </div>
  </body>
</html>
